body{
    background-image: url(nice.jpg);
    background-repeat:repeat-y;
    height: 100%;
    background-position: center;
    background-size: cover;
}
#clockContainer{
      margin: auto; 
/*auto se center hojaey ga*/
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    position: relative; 
    
}
#hour , #minute , #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
  height: 23%;
    width: 1.9%;
    top: 27%;
   left: 49.5%;
  
}
#minute{
      height: 30%;
  width:  1.7%;
    top: 20.5%;
    left: 49.6%;
   
}
#second{
    height: 36%;
    width: 1.2%;
    top: 14%;
    left: 49.8%;
    
}